
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="google-site-verification" content="google240b0f3d53be044f" />

    <title>Canada Travel Visa - Document Portal</title>
</head>
<body>
    <div style="text-align: center; margin-top: 50px;">
        <h1>CANADA TRAVEL VISA</h1>
        <p>Welcome to the Secure Document Portal.</p>
    </div>
</body>
</html>
